@import '_variables.scss';

.partListContainer {
  padding-left: 1.7rem;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 4rem auto;

  .partListHeaders {
    color: $color-lighter;
    padding: 2rem;
    padding-right: 3.5rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    display: flex;
    width: 98%;
    margin: auto;

    .partItemCount {
      font-size: 0.9rem;
    }

    label {
      font-size: 0.9rem;
      margin-right: 0.5rem;
    }
  }
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 12rem;

  select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: $color-dark;
    color: $color-light;
    height: 2.2rem;
    border-radius: 0.4rem;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
    &:hover,
    &:focus {
      color: $color-darker;
      background: $color-light;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.select__arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: $color-darkest transparent transparent transparent;

  .select select:hover ~ & .select select:focus ~ & {
    border-top-color: black;
  }

  .select select:disabled ~ & {
    border-top-color: gray;
  }
}
