@import '_variables.scss';

.mainForm {
  background-color: $color-darker;
  height: 50%;
  max-height: 370px;
  width: 21rem;
  border-radius: 0.4rem;
  border: $default-border;
  padding: 0 2rem;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.438);
  display: grid;
  grid-template-rows: 1fr 1.2fr 1.2fr 1fr;

  .formTitle {
    align-self: center;
    color: $color-light;
    font-size: 1.5rem;
  }

  .formGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    label {
      color: $color-lighter;
      font-size: 1rem;

      // font-weight: bold;
    }

    input {
      align-self: center;
      padding: 0.5rem;
      height: 2.2rem;
      width: 100%;
      border-radius: 0.4rem;
      font-size: 1rem;
      background-color: $color-dark;
      border: $default-border;
      margin-top: 0.8rem;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.438);

      &:focus,
      &:active {
        outline: none;
        border: $default-border;
        background-color: $color-lighter;
      }

      &::placeholder {
        font-size: 0.9rem;
        color: #fcd9b78c;
      }
    }
  }

  button {
    background-color: $color-light;
    color: $color-darkest;
    // font-weight: bold;
    font-size: 1rem;
    height: 2.3em;
    border: 1px solid #1d2d506c;
    border-radius: 0.4rem;
    width: 50%;
    margin-top: 1.5rem;
    justify-self: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.438);

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      cursor: pointer;
      outline: none;
      border: $default-border;
      background-color: $color-darkest;
      color: $color-light;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: gray;
    }
  }
}
